# extra requirements
matplotlib ~= 3.4.1
scipy ~= 1.6.2
sympy ~= 1.8
torch ~= 1.8.0
gym
# dev requirements
pytest ~= 5.4.1
mypy ~= 0.812
black ~= 20.8b1
flake8 ~= 3.9.1
isort ~=5.8.0
# doc requirements
sphinx ~=3.5.4
recommonmark~=0.6.0
msmb_theme~=1.2.0
sphinx-rtd-theme~=0.5.0
sphinx-gallery~=0.8.0
pillow~=8.1.1
